.sobre{
    margin:0%;

    background-color: rgb(217, 230, 204);
}
.conteudo-sobre{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 40%;  
    align-items:center;
}

.texto{
    display:block;
    font-size: 1.5em;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    background-position: center;
    padding: 4.1rem 2rem 4.1rem 2rem;
    background-color: rgb(140, 173, 139);
}
.texto2{
    margin:0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.5rem;
    text-align: center;
    padding: 4.1rem 2rem 4.1rem 2rem;
    
    background-color: rgb(156, 171, 192);
}
.texto3{
    margin: 0;
    font-size: 1.5rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0mm;
    text-align:center;
    padding: 4rem 2rem 4rem 2rem;
    background-color: rgb(223, 154, 181);
    text-align: center;
}
.texto:hover{
    transition: 1s all;
    background-color: rgb(76, 156, 75);
}
.texto2:hover{
    transition: 1s all;
    background-color: rgb(96, 159, 200);
}
.texto3:hover{
    transition:1s all;
    background-color: rgb(216, 95, 145);
}
.ilustracao{
    background-image: url('./img/bolo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
    width: 100%;
    grid-column: 2 / 2;
    grid-row: 1 / 4;
}
.beneficios {
    padding-top: 4rem;
    text-align: center;

}
.pp{
    font-size: 4rem;
}
.itens li{
    font-size: 20px;
    text-align:center;
    padding-bottom: 1rem;
}
.rodape{
    background-color:rgb(148, 204, 84);
    margin: 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.descricao{
    font-size: 15px;
    color:darkgreen;
    text-align: end;
    padding-top: 5px;
    padding-right: 10px;
}
.nome-rodape{

    font-size: 30px;
    color:darkgreen;
    display: flex;
    margin: auto;

}
.icone{

    color:darkgreen
}
